<h1>SHOW POST</h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading" >
    <h2 class="panel-title"><%= @showPost.title %></h2>
  </div>
  <div class="panel-body">
   <%= @showPost.content %>
  </div>
</div> 


<div class="form-group row">
    <div class="col-md-2 col-md-offset-10">
        <a href="/" class="btn btn-default">목록으로 돌아가기</a>
    </div>
</div>

<hr>



